*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.mini_box{
    width: 269px;
    height: 140px;
    
 

}

#box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}


.mini_box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-weight: bold;
    font-size: 22px;

}

.heading{
    text-align: center;
    font-size: 2em;
    border-bottom: 2px solid gray; 
    background-color: bisque;
    padding: 5px;
}